

.d3-chart {
    width: 100%;
    height: 600px;
  }
  
  .d3-chart .axis path,
  .d3-chart .axis line {
    stroke: rgb(0, 0, 0);

  }
  
  .d3-chart .axis text {
    fill: rgb(192, 78, 25);
  }

  .legend {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 60%;
}

